
.heading
{
font-size: 23px;
width: 100%;
margin: 0px;
}
#statusa
{
font-size: 22px;
position: center;

}
#statusab
{
font-size: 22px;
position: center;

}

#status
{
font-size: 18px;
position: absolute;
top: 50px;
right: 10px;
background-color:black;
}
body { 
    background-size: cover;
    background-position: center;
}
canvas{
    box-shadow: 10px 10px 10px grey;
    border-radius:10px;
}